/* put your css rules herer */
.light
  font-weight: 400
  text-align: justify

.left 
  padding: 70px

.right
  display: flex
  justify-content: center

  .MuiCard-root
    height: 100%
    width: 550px

    .form-fields > *
      margin: 16px



