/* put your css rules herer */
.light
  font-weight: 400
  text-align: justify

.MuiCard-root
  height: 100%
  width: 400px

.right
  display: flex
  justify-content: center

.form-fields > *
  margin: 16px
